[submodule "external/tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "external/KaDiS"]
	path = external/KaDiS
	url = https://github.com/MichaelAxtmann/KaDiS.git
